:root {
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: inherit;
  padding: inherit;
  background: white;
}

body {
  display: block;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  border: 1px dashed blue;
}