/* ROOT COMPONENTS */
:root {
  /* MAIN COLORS */
  --clr-blue: #2d5dcc;
  --clr-pink: #d957d9;
  --clr-green: #4fe0b0;
  --clr-beige: #efd9ca;
  --clr-white: #fff;

  /* MAIN FONTS */

  /* MAIN TEXT STYLES */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: inherit;
  padding: inherit;
  background: var(--clr-white);
}

body {
  display: block;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  border: 1px dashed blue;
}
