/*-----------------*/
/* ROOT COMPONENTS */
/*-----------------*/
:root {
  /* MAIN COLORS */
  --clr-blue: #2d5dcc;
  --clr-pink: #d957d9;
  --clr-green: #4fe0b0;
  --clr-beige: #efd9ca;
  --clr-white: #ffffff;
  --clr-gray: #777777;

  /* MAIN FONTS */
  --ff-poppins: "Poppins", sans-serif;
  --ff-nunito: "Nunito Sans", sans-serif;
  --ff-sourcepro: "Source Code Pro", monospace;

  /* MAIN TEXT STYLES */
  --fw-nunito-h1: 700;
  --fw-poppins-h2: 500;
  --fw-poppins-p: 400;
  --fs-nunito-h1: 26px;
  --fs-poppins-h2: 18px;
  --fs-poppins-p: 14px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: inherit;
  padding: inherit;
  background: var(--clr-white);
}

body {
  display: block;
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
/*------------------*/
/*-- MAIN SECTION --*/
/*------------------*/
main {
  margin: 25px 0px;
}

/*-------------------*/
/*-- COLOR SECTION --*/
/*-------------------*/
.colors {
  position: relative;
  padding: 20px 10px;
  border: 2px solid #a2a2a6;
}

.section-headings {
  margin-top: 10px;
}

.clr-container {
  text-align: center;
  margin-top: 20px;
}

.clr-panel {
  display: inline-block;
  width: 33%;
  height: 100px;
  margin: 20px auto;
  text-align: center;
  font-family: var(--ff-nunito);
}

.clr-panel:nth-child(1) {
  background-color: var(--clr-blue);
  color: var(--clr-white);
}

.clr-panel:nth-child(2) {
  background-color: var(--clr-pink);
}

.clr-panel:nth-child(3) {
  background-color: var(--clr-green);
}

.clr-panel:nth-child(4) {
  background-color: var(--clr-beige);
}

.clr-panel:nth-child(5) {
  background-color: var(--clr-white);
}

.clr-panel:nth-child(6) {
  background-color: var(--clr-gray);
  color: var(--clr-white);
}

.clr-label {
  margin-top: 20px;
}

.clr-hex {
  margin-top: 20px;
}
/*-------------------*/
/*-- FONTS SECTION --*/
/*-------------------*/
.fonts {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-top: 10px;
  line-height: 2.2;
  border: 2px solid #a2a2a6;
}

h2 {
  margin: 25px 10px;
  font-weight: 700;
  font-size: 24px;
  font-family: var(--ff-nunito);
}

/* DIV SOURCEPRO */
.sourcepro {
  font-family: var(--ff-sourcepro);
  display: inline-block;
  margin-left: 10px;
}

/* DIV NUNITO */
.nunito {
  font-family: var(--ff-nunito);
  display: inline-block;
  margin-left: 200px;
}

/* DIV POPPINS */
.poppins {
  font-family: var(--ff-poppins);
  margin: 30px 10px;
}

/***********************/
/* DIV ALLROUND STYLES */
/***********************/
.heading {
  text-decoration: underline;
  font-weight: 400;
  font-size: 20px;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

/*------------------------*/
/*-- TEXTSTYLES SECTION --*/
/*------------------------*/
.textstyles {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-top: 10px;
  line-height: 2.2;
  border: 2px solid #a2a2a6;
}

